<h1>Welcome <%= current_user.username %> </h1>

<p>We are currently working on your account.</p>

<p>Your balance is: $ <%= current_user.balance %></p>

<a href="/account/deposit">Deposit</a>
<a href="/account/withdraw">Withdraw</a>

<p><a href="/logout">Log Out</a></p>
